html, body { height: 100%; }
body{
    margin: 0;
    font-family: 'Open Sans', sans-serif;
    overflow-x: hidden;
}
.text-center{
    text-align: center !important;
}
.text-end{
    text-align: end !important;
}
.text-start{
    text-align: start !important;
}
.d-flex{
    display: flex !important;
}
.flex-column{
    flex-direction: column !important;
}
.flex-row{
    flex-direction: row !important;
}
.flex-wrap{
    flex-wrap: wrap !important;
}
.flex-no-wrap{
    flex-wrap: nowrap !important;
}
.justify-center{
    justify-content: center !important;
}
.justify-end{
    justify-content: end !important;
}
.justify-start{
    justify-content: start !important;
}
.justify-between{
    justify-content: space-between !important;
}
.align-center{
    align-items: center !important;
}
.align-end{
    align-items: flex-end !important;
}
.align-start{
    align-items: flex-start !important;
}
.w-100{
    width: 100% !important;
}
.cursor-pointer{
    cursor: pointer;
}
.margin-0{
    margin: 0 !important;
}

